{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}
  
  <!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script src="https://github.com/blueimp/JavaScript-MD5/blob/master/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    const gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: '132a6ad2a350dd61828f',
		clientSecret: '15341d30534ecad1cceb3eca0311809f8b95136a',
		repo: 'netlify.com',
		owner: 'yishi',
		admin: ['yishi'],
		id:md5(window.location.pathname)  // window.location.pathname,// Ensure uniqueness and length less than 50
    distractionFreeMode: true  // Facebook-like distraction free mode
    
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->

</main>

{{ partial "footer.html" . }}
