  <!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: '132a6ad2a350dd61828f',
		clientSecret: '15341d30534ecad1cceb3eca0311809f8b95136a',
		repo: 'netlify.com',
		owner: 'yishi',
		admin: ['yishi'],
		id:window.location.pathname,// Ensure uniqueness and length less than 50
    distractionFreeMode: true  // Facebook-like distraction free mode
    
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->

#{{ template "_internal/gittalk.html" . }}
